body p {
	padding: .5em;
	position: relative;
	left: 2em;
}

.article {
	left: 11em;
	right: 11em;
	top: 2em;
	position: absolute;
	font-size: 102%;
}

.article br {
	content: "";
	display: block;
	height: .5em;
}

.article img {
	display: block;
	position: relative;
	margin: auto;
}
.img-desc {
	text-align: center;
	font-size: 0.8em;
	position: relative;
	width: 30em;
	margin: auto;
	display: block;
	font-style: italic;
	padding-bottom: 2em;
}

.heading {
	text-align: center;
	font-size: 2em;
}


.subtitle {
	text-align: center;
	font-size: 1em;
	font-style: italic;
}

.article .subtitle {
	padding-top: 2em;
	padding-bottom: 4em;
}

hr.separator {
	width: 80%;
	text-align: center;
	color: #392531;
	border: none;
}

