body p {
	padding: .5em;
	position: relative;
	left: 2em;
}

.article {
	left: 11em;
	top: 2em;
	position: absolute;
}

.article img {
	display: block;
	position: absolute;
	left: 50%;
}
.article img-desc {
	text-align: center;
	font-size: 0.5em;
	position: absolute;
	left: 50%;
}

.heading {
	text-align: center;
	font-size: 2em;
}

.subtitle {
	text-align: center;
	font-size: 1em;
	font-style: italic;
}

hr.separator {
	width: 80%;
	text-align: center;
	color: #392531;
	border: none;
}

