body p {
	/*padding: .5em;*/
	position: relative;
	/* left: 2em;*/
}

.article {
	padding: max(15%, .8em);
	padding-top: 0;
	right: clamp(.4em, 1%, 18em);
	top: 2em;
	position: absolute;
	font-size: 102%;
}

.article br {
	content: "";
	display: block;
	height: .5em;
}

.article img {
	display: block;
	position: relative;
	margin: auto;
}
.img-desc {
	text-align: center;
	font-size: 0.8em;
	position: relative;
	width: 30em;
	margin: auto;
	display: block;
	font-style: italic;
	padding-bottom: 2em;
}

.heading {
	padding-left: 4em;
	padding-right: 4em;
	text-align: center;
	font-size: 2em;
}


.subtitle {
	text-align: center;
	font-size: 1em;
	font-style: italic;
}

.article .subtitle {
	position: sticky;
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 2em;
	padding-bottom: 4em;
}

hr.separator {
	width: 80%;
	text-align: center;
	color: #392531;
	border: none;
}

